@charset "UTF-8";
.cliente__actions {
	display:flex;
}
.cliente__action {
	margin:1rem;
	height: 20rem;
	width: 20rem;
	border: 2px solid #24cbd3;
	background: rgb(36, 203, 211, 0.3);
	color: purple;
	display:flex;
	justify-content: center;
	align-items:center;
	box-shadow: #ccc 2px 2px 5px;
	cursor: pointer;
}



.cliente__action:hover {
	transform: perspective(50rem) translateZ(3rem);
}

.cliente__actions a{
	text-decoration: none;
	font-weight:bold;
}